<div class="jumbotron text-center jumbo-top" style="margin-bottom:0">
  <h1>Bashou's Bastion</h1>
  <h4>A WoW fansite</h4>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class= navbar-brand" href="../">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
	  <li class="nav-item">
	    <a class="nav-link" href="/transmog">Transmog</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/mounts">Mounts</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/tanking">Tanking</a>
	  </li>
	</ul>
</div>
</nav>
<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-12">
	  <h2>Tanking</h2>
	  <p>I've picked up a few pointers over the years.</p>
	  <p>
	  <ul>
	  <li>Don't stand in the fire! Seems obvious, but you'd be surprised.</li>
	  <li>Don't lose LOS with your healer! They can't heal you if they can't see you.</li>
	  <li>Try to stay on top of the threat meters.</li>
	  <li>Gem for haste, gear for avoidance.</li>
	  <li>You're never as good as you think.</li>
	  </ul>
	  </p>
	  <p>Which of my characters should I cover next? Submit the form below to vote</p>
	  <br>
	  <br>
	  
	  <div id="firstFormDiv">
 <form id="formOne" action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="get">
  <input type="radio" id="hunter" name="classSelect" value="hunter"><br>
  <label for="hunter">Hunter</label><br>
  <input type="radio" id="druid" name="classSelect" value="druid"><br>
  <label for="druid">Druid</label><br>
  <input type="radio" id="shaman" name="classSelect" value="shaman"><br>
  <label for="shaman">Shaman</label><br>
  <input type="submit" value="Vote" id="cityStyle">
  <br>
  </form>
  </div>
	  
	</div>
  </div>
<br>
      <a href="#legal" style="blue !important">Citation</a>
      <br>
<div class="jumbotron text-center" style="margin-bottom:0" id="legal">
<p>CITATION: Blizzard developers. "World of Warcraft." Blizzard.com. Retrieved May 19, 2020, from http://www.blizzard.com/Blizzard.com.</p>
<p>All images and references to World of Warcraft are the copyrighted material of and registered trademarks of Blizzard Entertainment. Used under fansite policy <a href="https://www.blizzard.com/en-us/company/about/legal-faq.html">available here</a>.</p>
</div>
</div>

<!-- CITATION: See Works Cited in script.js -->