<div class="jumbotron text-center jumbo-top" style="margin-bottom:0">
  <h1>Bashou's Bastion</h1>
  <h4>A WoW fansite</h4>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class= navbar-brand" href="../">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
	  <li class="nav-item">
	    <a class="nav-link" href="/transmog">Transmog</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/mounts">Mounts</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/tanking">Tanking</a>
	  </li>
	</ul>
</div>
</nav>
<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-12">
	  <h2>Transmogs</h2>
	  <p>Scroll through the unordered list below to view some of my favorite outfits. And check out the scroll box!</p>
	  <p>
	  <div class="overflow-auto" style="height:225px !important">
	  <ul>
	  <li>
	  <img src="blue.jpg" alt="Tips">	  
      <br>
      <a href="#legal" style="blue !important">Citation</a>
      <br>
	  </li><li>
	  <img src="green.jpg" alt="Tips">
	  <br>
      <a href="#legal" style="blue !important">Citation</a>
      <br>
	  </li><li>
      <img src="yellow.jpg" alt="Tips">
	  <br>
      <a href="#legal" style="blue !important">Citation</a>
      <br>
	  </li><li>
	  <img src="darkyellow.jpg" alt="Tips">
	  <br>
      <a href="#legal" style="blue !important">Citation</a>
      <br>
	  </li><li>
	  <img src="rolotony.jpg" alt="Tips">
	  <br>
      <a href="#legal" style="blue !important">Citation</a>
      <br>
	  </li>
	  </ul>
	  </div>
	</div>
  </div>
<br>
      <a href="#legal" style="blue !important">Citation</a>
      <br>
<div class="jumbotron text-center" style="margin-bottom:0" id="legal">
<p>CITATION: Blizzard developers. "World of Warcraft." Blizzard.com. Retrieved May 19, 2020, from http://www.blizzard.com/Blizzard.com.</p>
<p>All images and references to World of Warcraft are the copyrighted material of and registered trademarks of Blizzard Entertainment. Used under fansite policy <a href="https://www.blizzard.com/en-us/company/about/legal-faq.html">available here</a>.</p>
</div>
</div>

<!-- CITATION: See Works Cited in script.js -->